= form_with(model: service, local: true) do |form|
  - if service.errors.any?
    #error_explanation
      h2
        = pluralize(service.errors.count, "error")
        | prohibited this service from being saved:
      ul
        - service.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :title
    = form.text_field :title, id: :service_title
  .field
    = form.label :description
    = form.text_area :description, id: :service_descripion
  .field
    = form.label :feature_image
    = form.text_field :feature_image, id: :service_feature_image
  .field
    = form.label :image_gallery
    = form.text_field :image_gallery, id: :service_image_gallery
  .field
    = form.label :price
    = form.text_field :price, id: :service_price
  .field
    = form.label :address
    = form.text_area :address, id: :service_address
  .field
    = form.label :availability
    = form.check_box :availability, id: :service_availability
  .field
    = form.label :currency
    = form.text_field :currency, id: :service_currency
  .field
    = form.label :rating
    = form.number_field :rating, id: :service_rating
  .actions
    = form.submit
