p#notice= notice
p
  strong Title:
  = @service.title
p
  strong Description:
  = @service.description
p
  strong Feature image:
  = @service.feature_image
p
  strong Image gallery:
  = @service.image_gallery
p
  strong Price:
  = @service.price
p
  strong Address:
  = @service.address
p
  strong Availability:
  = @service.availability
p
  strong Currency:
  = @service.currency
p
  strong Rating:
  = @service.rating
= link_to 'Edit', edit_service_path(@service)
| \
= link_to 'Back', services_path
