doctype html
html lang="en" 
  body
    header.masthead
      .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              h1.mb-1 Welcome to Glinpa!
              = link_to "Start Posting Adds!", new_listing_path, class:'btn btn-outline btn-xl js-scroll-trigger'
    - @add.each do |add|
      .jumbotron
        h1.display-4= add.title
        p.lead
          | Description: #{add.description}
        hr.my-4/
        p
          | $: #{add.price}
        p
          | Img: #{add.image_gallery}
        p
          | currency: #{add.currency}
        p.lead
          = link_to "Learn more", add_preview_path(add), class:'btn btn-primary btn-lg'
