.form-ad
  = form_with(model: ad, url: ads_path, local: true) do |form|
    - if ad.errors.any?
      #error_explanation
        h2
          = pluralize(ad.errors.count, "error")
          | prohibited this ad from being created:
        ul
          - ad.errors.full_messages.each do |message|
            li= message
    .form-group.row
      .col-12.col-md-6
        = form.label :category
        = form.select :category_id, set_category.collect{|c|[c.name, c.id] }, {include_blank: true}, :id => 'category', :class => 'form-control'
      .col-12.col-md-6
        = form.label :sub_category
        = form.select :ads_subcategory_id, set_category.collect{|c|["", 0] }, {include_blank: true}, :id =>'sub_category', :class => 'form-control'
    .form-group.row
      .col-12.col-md-6
        = form.label :name
        = form.text_field :name, id: :ad_name, class: 'form-control'
      .col-12.col-md-6
        = form.label :price
        = form.number_field :price, id: :ad_price, class: 'form-control'
    .row
      .col-12.col-md-6.col-lg-3.form-group
        = form.label :quantity
        = form.number_field :quantity, id: :ad_quantity, class: 'form-control'
      .col-12.col-md-6.col-lg-3.form-group
        = form.label :currency
        = form.text_field :currency, id: :ad_currency, class: 'form-control'
      .col-12.col-md-6.col-lg-3.form-group
        = form.label :status
        = form.text_field :status, id: :ad_status, class: 'form-control'
      .col-12.col-md-6.col-lg-3.form-check.check-input.text-center
        = form.check_box :availability, id: :ad_availability, class: 'form-check-input'
        = form.label :availability, class: 'form-check-label'
    .form-group.row
      .col-12.col-md-4
        = form.label :address
        = form.text_area :address, size: "30x40", id: :ad_address, class: 'form-control'
      .col-12.col-md-4
        = form.label :description
        = form.text_area :description, size: "30x40", id: :ad_description, class: 'form-control'
      .col-12.col-md-4
        = form.label :feature_image
        = form.text_field :feature_image, id: :ad_feature_image, class: 'form-control'
    .form-group
      = form.hidden_field :user_id, value: current_user.id
    .row.justify-content-end.my-3
      .col-12.col-md-6
        = form.submit "Create Ad", class: 'btn btn-outline-primary btn-block'
