.services-map.row.justify-content-center
  .col-12.align-self-center
    h2.text-center.text-white Map
.service-search
  .container
    .row
      .col-12
        .form-group.row.justify-content-center
          input.form-control.col-12.col-md-6 placeholder=("What are you searching for?") type="text" /
          select#exampleFormControlSelect1.form-control.col-12.col-md-2
            option - Location -
            option Get My Location
            option La Romana City
            option New York
            option Miami
          .col-12.col-md-2.text-center
            button.btn.btn-primary name="button" type="button"  Search
section.last-products
  .container-fluid
    .row.py-3
      .col-12
        h2 Featured
      .col-12
        #carouselExampleIndicators.carousel.slide data-ride="carousel"
          ol.carousel-indicators
            li.active data-slide-to="0" data-target="#carouselExampleIndicators"
            li data-slide-to="1" data-target="#carouselExampleIndicators"
            li data-slide-to="2" data-target="#carouselExampleIndicators"
          .carousel-inner
            .carousel-item.active
              .col-12
                .row
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
            .carousel-item
              .col-12
                .row
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
            .carousel-item
              .col-12
                .row
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
                  .col-12.col-md-6.col-lg-3
                    .card.my-2
                      img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                      .card-body
                        h4.card-title Card title
                        p.card-text
                          strong> US $:
                          | 10,000
          a.carousel-control-prev data-slide="prev" href="#carouselExampleIndicators" role="button"
            span.carousel-control-prev-icon aria-hidden="true"
            span.sr-only Previous
          a.carousel-control-next data-slide="next" href="#carouselExampleIndicators" role="button"
            span.carousel-control-next-icon aria-hidden="true"
            span.sr-only Next
.container
  .row.my-3
    .col-12
      h2.text-center Products Types
    .col-12.col-md-6.col-lg-3
      ul
        li
          a href="#"
            | Kitchen
            span.badge.badge-pill.badge-secondary.float-right 10
        li
          a href="#"
            | Rooms
            span.badge.badge-pill.badge-secondary.float-right 8
        li
          a href="#"
            | Bathroom
            span.badge.badge-pill.badge-secondary.float-right 3
        li
          a href="#"
            | Office
            span.badge.badge-pill.badge-secondary.float-right 15
        li
          a href="#"
            | Desk
            span.badge.badge-pill.badge-secondary.float-right 7
        li
          a href="#"
            | Support
            span.badge.badge-pill.badge-secondary.float-right 20
    .col-12.col-md-6.col-lg-3
      ul
        li
          a href="#"
            | Accesories
            span.badge.badge-pill.badge-secondary.float-right 13
        li
          a href="#"
            | Personal Care
            span.badge.badge-pill.badge-secondary.float-right 12
        li
          a href="#"
            | Cars
            span.badge.badge-pill.badge-secondary.float-right 42
        li
          a href="#"
            | Motrocycles
            span.badge.badge-pill.badge-secondary.float-right 24
        li
          a href="#"
            | Glasses
            span.badge.badge-pill.badge-secondary.float-right 12
        li
          a href="#"
            | Shoes
            span.badge.badge-pill.badge-secondary.float-right 8
    .col-12.col-md-6.col-lg-3
      ul
        li
          a href="#"
            | Clothes
            span.badge.badge-pill.badge-secondary.float-right 32
        li
          a href="#"
            | Hats
            span.badge.badge-pill.badge-secondary.float-right 32
        li
          a href="#"
            | Suits
            span.badge.badge-pill.badge-secondary.float-right 13
        li
          a href="#"
            | Skirts
            span.badge.badge-pill.badge-secondary.float-right 17
        li
          a href="#"
            | Dresses
            span.badge.badge-pill.badge-secondary.float-right 2
        li
          a href="#"
            | Barber Shop
            span.badge.badge-pill.badge-secondary.float-right 3
    .col-12.col-md-6.col-lg-3
      ul
        li
          a href="#"
            | Dentists
            span.badge.badge-pill.badge-secondary.float-right 32
        li
          a href="#"
            | Beauty Shop
            span.badge.badge-pill.badge-secondary.float-right 32
        li
          a href="#"
            | Pharmaceuticals
            span.badge.badge-pill.badge-secondary.float-right 13
        li
          a href="#"
            | Banks
            span.badge.badge-pill.badge-secondary.float-right 17
        li
          a href="#"
            | Libraries
            span.badge.badge-pill.badge-secondary.float-right 2
        li
          a href="#"
            | Others
            span.badge.badge-pill.badge-secondary.float-right 3
  .row.my-3
    .col-12
      h2.text-center This Week Best Sellers
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
    .col-12.col-md-6.col-lg-3
      .card.my-2
        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
        .card-body
          h4.card-title Card title
          p.card-text
            strong> US $:
            | 10,000
  .row
    .col-12.text-center
      button.btn.btn-primary.btn-circle name="button" type="button"  Load more...
