.container
  .row.justify-content-center
    .col-12.col-lg-9
      h3.my-3.text-center Glinpa Logo
      h1.my-3.text-center New Ad
      = render 'form', ad: @ad
      // = link_to 'Back', ads_path, class: 'btn btn-primary'
javascript:
  $(document).on('change', '#category', function (evt) {
    console.log($("#category option:selected").val());
    $.ajax({
        url: 'subcategories',
        data: {category_id: $("#category option:selected").val()},
        success: function (data) {
            changecat(data)
        },
        error: function (error) {
            console.log(error)
        }
    })
  });

  function changecat(value) {
      if (value.length == 0) $("#sub_category").innerHTML = "<option></option>";
      else {
          var catOptions = "";
          for (categoryId in value) {
              catOptions += "<option value = " +value[categoryId]["id"] + ">" + value[categoryId]["name"] + "</option>";
          }
          $("#sub_category").html(catOptions);
      }
  }
