p#notice= notice
h1 Messages
table
  thead
    tr
      th Content
      th colspan="3" 
  tbody
    - @messages.each do |message|
      tr
        td= message.content
        td= link_to 'Show', message
        td= link_to 'Edit', edit_message_path(message)
        td= link_to 'Destroy', message, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Message', new_message_path
