body
  header#googlemaps.section-map
    .row.justify-content-center.align-items-end.input-search-home
      .col-12
        h1.display-1.text-center style=("font-family: 'Courgette'")  Glinpa
      .col-9.inputs-search
        .form-group.row.mb-0
          input#exampleFormControlInput1.form-control.col-7 placeholder="Keyword" type="email" /
          select.form-control.col-3
            option Categories
            option 1
            option 2
            option 3
            option 4
            option 5
          button.btn.btn-primary.mt-0 type="button"  Primary
  .container
    section.my-3
      .row
        .col-12.col-sm-6.col-md-4
          .card.mb-30
            a.card-img-tiles href="#"
              .inner
                .main-img
                  img alt="Category" src="https://image.flaticon.com/icons/png/512/635/635456.png" /
            .card-body.text-center
              .btn-group
                = link_to "vehicles", vehicles_path, class: "btn btn-outline-primary"
        .col-12.col-sm-6.col-md-4
          .card.mb-30
            a.card-img-tiles href="#"
              .inner
                .main-img
                  img alt="Category" src="https://image.flaticon.com/icons/png/512/373/373394.png" /
            .card-body.text-center
              .btn-group
                button.btn.btn-outline-primary aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
                  | Real Estate
        .col-12.col-sm-6.col-md-4
          .card.mb-30
            a.card-img-tiles href="#"
              .inner
                .main-img
                  img alt="Category" src="https://image.flaticon.com/icons/png/512/284/284286.png" /
            .card-body.text-center
              .btn-group
                button.btn.btn-outline-primary aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
                  | Articles
        .col-12.col-sm-6.col-md-4
          .card.mb-30
            a.card-img-tiles href="#"
              .inner
                .main-img
                  img alt="Category" src="https://image.flaticon.com/icons/png/512/150/150668.png" /
            .card-body.text-center
              .btn-group
                button.btn.btn-outline-primary aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
                  | Products
        .col-12.col-sm-6.col-md-4
          .card.mb-30
            a.card-img-tiles href="#"
              .inner
                .main-img
                  img alt="Category" src="https://image.flaticon.com/icons/svg/609/609124.svg" /
            .card-body.text-center
              .btn-group
                button.btn.btn-outline-primary aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
                  | Jobs
        .col-12.col-sm-6.col-md-4
          .card.mb-30
            a.card-img-tiles href="#"
              .inner
                .main-img
                  img alt="Category" src="https://image.flaticon.com/icons/png/512/138/138773.png" /
            .card-body.text-center
              .btn-group
                button.btn.btn-outline-primary aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
                  | Events
    section
      .container-fluid
        .row.py-3
          .col-12
            h2 Ads
          .col-12
            #carouselExampleIndicators.carousel.slide data-ride="carousel"
              ol.carousel-indicators
                li.active data-slide-to="0" data-target="#carouselExampleIndicators"
                li data-slide-to="1" data-target="#carouselExampleIndicators"
                li data-slide-to="2" data-target="#carouselExampleIndicators"
              .carousel-inner
                .carousel-item.active
                  .col-12
                    .row
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                .carousel-item
                  .col-12
                    .row
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                .carousel-item
                  .col-12
                    .row
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
                      .col-12.col-md-6.col-lg-3
                        .card.my-2
                          img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                          .card-body
                            h4.card-title Card title
                            p.card-text
                              strong> US $:
                              | 10,000
              a.carousel-control-prev data-slide="prev" href="#carouselExampleIndicators" role="button"
                span.carousel-control-prev-icon aria-hidden="true"
                span.sr-only Previous
              a.carousel-control-next data-slide="next" href="#carouselExampleIndicators" role="button"
                span.carousel-control-next-icon aria-hidden="true"
                span.sr-only Next

      hr/
    .row.justify-content-center
      .col-12
        .row
          .col-12.col-md-6
            img.rounded.mx-auto.d-block src="http://technave.com/data/files/mall/article/201410190257411681.jpg" /
          .col-12.col-md-6
            .text-center.padding-top-4x.padding-bottom-4x
              h2 Download Our App
              h4 You can get this App free from Play Store o App Store in order to view ads with the same experience
              button.btn.btn-outline-primary name="button" type="button"
                i.fa.fa-android aria-hidden="true"
                | Android
              button.btn.btn-outline-primary name="button" type="button"
                i.fa.fa-apple aria-hidden="true"
                | IOS
