= form_with(model: listing, local: true) do |form|
  - if listing.errors.any?
    #error_explanation
      h2
        = pluralize(listing.errors.count, "error")
        | prohibited this listing from being saved:
      ul
        - listing.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :title
    = form.text_field :title, id: :listing_title
  .field
    = form.label :price
    = form.number_field :price, id: :listing_price
  .field
    = form.label :description
    = form.text_area :description, id: :listing_description
  .field
    = form.label :feature_image
    = form.text_field :feature_image, id: :listing_feature_image
  .field
    = form.label :image_gallery
    = form.text_field :image_gallery, id: :listing_image_gallery
  .field
    = form.label :availability
    = form.check_box :availability, id: :listing_availability
  .field
    = form.label :address
    = form.text_area :address, id: :listing_address
  .field
    = form.label :quantity
    = form.number_field :quantity, id: :listing_quantity
  .field
    = form.label :currency
    = form.text_field :currency, id: :listing_currency
  .field
    = form.hidden_field :user_id, value: current_user.id
  .field
    = form.label :category
    = form.select :category_id, set_category.collect{|c|[c.name, c.id] }, {include_blank: true}, :class => 'form-control'
  .field
    = form.label :company
    = form.select :company_id, set_company.collect{|c|[c.name, c.id] }, {include_blank: true}, :class => 'form-control'
  /!
    | <div class="field"
    | <haml_loud> form.label :booking </haml_loud
    | <haml_loud> form.select :booking_id, set_booking.collect{|c|[c.appoiment, c.id] }, {include_blank: true}, :class =&gt; &#39;form-control&#39; </haml_loud
    | </div
  .actions
    = form.submit
