p#notice= notice
- @listings.each do |listing|
  .jumbotron
    h1.display-4 q=""  Listings
    p.lead
      | Title: #{listing.title}
    hr.my-4/
    p
      | Price: #{listing.price}
    hr.my-4/
    p
      | Description: #{listing.description}
    hr.my-4/
    p
      | Feature Image: #{listing.feature_image}
    hr.my-4/
    p
      | Image Gallery: #{listing.image_gallery}
    hr.my-4/
    /! <p ><haml_loud> listing.availability </haml_loud></p
    p
      | Address: #{listing.address}
    hr.my-4/
    p
      | Quantity: #{listing.quantity}
    hr.my-4/
    p
      | Currency: #{listing.currency}
    hr.my-4/
    p= link_to 'Show', listing, class:'btn btn-primary btn-lg'
    p= link_to 'Edit', edit_listing_path(listing) , class:'btn btn-warning btn-lg'
    p= link_to 'Destroy', listing, method: :delete, data: {confirm: 'Are you sure?'}  , class:'btn btn-danger btn-lg'
= link_to 'New Listing', new_listing_path, class:'btn btn-primary'
