p#notice= notice
.jumbotron
  h1.display-4 q="" 
  p.lead
    | Title: #{@listing.title}
  hr.my-4/
  p
    | Price: #{@listing.price}
  hr.my-4/
  p
    | Description: #{@listing.description}
  hr.my-4/
  p
    | Feature Image: #{@listing.feature_image}
  hr.my-4/
  p
    | Image Gallery: #{@listing.image_gallery}
  hr.my-4/
  /! <p ><haml_loud> @listing.availability </haml_loud></p
  p
    | Address: #{@listing.address}
  hr.my-4/
  p
    | Quantity: #{@listing.quantity}
  hr.my-4/
  p
    | Currency: #{@listing.currency}
= link_to 'Edit', edit_listing_path(@listing), class:'btn btn-warning btn-lg'
| \
= link_to 'Back', listings_path, class:'btn btn-primary btn-lg'
