p#notice= notice
h1 Comments
table
  thead
    tr
      th Content
      th colspan="3" 
  tbody
    - @comments.each do |comment|
      tr
        td= comment.content
        td= link_to 'Show', comment
        td= link_to 'Edit', edit_comment_path(comment)
        td= link_to 'Destroy', comment, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Comment', new_comment_path
