= form_with(model: vehicle_model, local: true) do |form|
  - if vehicle_model.errors.any?
    #error_explanation
      h2
        = pluralize(vehicle_model.errors.count, "error")
        | prohibited this vehicle_model from being saved:
      ul
        - vehicle_model.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :name
    = form.text_field :name, id: :vehicle_model_name
  .actions
    = form.submit
