p#notice= notice
h1 Vehicle Models
table
  thead
    tr
      th Name
      th colspan="3" 
  tbody
    - @vehicle_models.each do |vehicle_model|
      tr
        td= vehicle_model.name
        td= link_to 'Show', vehicle_model
        td= link_to 'Edit', edit_vehicle_model_path(vehicle_model)
        td= link_to 'Destroy', vehicle_model, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Vehicle Model', new_vehicle_model_path
