.container
  .row.justify-content-center
    .col-12.col-md-8.col-lg-6
      h2.display-2.text-center.my-3
        | Logo Glinpa
      h2.display-4.text-center.my-3
        | Sign Up
      .col-12.sign-login
        = form_for(@command, as: "command", url: admin_registration_path) do |f|
          .group
            = f.email_field :email, autofocus: true, class: 'input-login'
            label.label-login
              | Email
          .group
            = f.password_field :password, autocomplete: "off", class: 'input-login'
            = f.label :password, class: 'label-login'
          .group
            = f.password_field :password_confirmation, autocomplete: "off", class: 'input-login'
            = f.label :password_confirmation, class: 'label-login'
          .form-group
            = f.submit "Sign up", class: 'btn btn-outline-primary btn-block'