= form_with(model: conversation, local: true) do |form|
  - if conversation.errors.any?
    #error_explanation
      h2
        = pluralize(conversation.errors.count, "error")
        | prohibited this conversation from being saved:
      ul
        - conversation.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :title
    = form.text_field :title, id: :conversation_title
  .field
    = form.label :message
    = form.text_area :message, id: :conversation_message
  .actions
    = form.submit
