p#notice= notice
h1 Conversations
table
  thead
    tr
      th Title
      th Message
      th colspan="3" 
  tbody
    - @conversations.each do |conversation|
      tr
        td= conversation.title
        td= conversation.message
        td= link_to 'Show', conversation
        td= link_to 'Edit', edit_conversation_path(conversation)
        td= link_to 'Destroy', conversation, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Conversation', new_conversation_path
