p#notice= notice
p
  strong Title:
  = @conversation.title
p
  strong Message:
  = @conversation.message
= link_to 'Edit', edit_conversation_path(@conversation)
| \
= link_to 'Back', conversations_path
