= form_with(model: vehicle_brand, local: true) do |form|
  - if vehicle_brand.errors.any?
    #error_explanation
      h2
        = pluralize(vehicle_brand.errors.count, "error")
        | prohibited this vehicle_brand from being saved:
      ul
        - vehicle_brand.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :name
    = form.text_field :name, id: :vehicle_brand_name
  .actions
    = form.submit
