p#notice= notice
h1 Vehicle Brands
table
  thead
    tr
      th Name
      th colspan="3" 
  tbody
    - @vehicle_brands.each do |vehicle_brand|
      tr
        td= vehicle_brand.name
        td= link_to 'Show', vehicle_brand
        td= link_to 'Edit', edit_vehicle_brand_path(vehicle_brand)
        td= link_to 'Destroy', vehicle_brand, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Vehicle Brand', new_vehicle_brand_path
