p#notice= notice
p
  strong Name:
  = @vehicle_brand.name
p
  strong Vehicle type:
  = @vehicle_brand.vehicle_type_id
= link_to 'Edit', edit_vehicle_brand_path(@vehicle_brand)
| \
= link_to 'Back', vehicle_brands_path
