= form_with(model: booking, local: true) do |form|
  - if booking.errors.any?
    #error_explanation
      h2
        = pluralize(booking.errors.count, "error")
        | prohibited this booking from being saved:
      ul
        - booking.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :appoiment
    = form.date_select :appoiment, id: :booking_appoiment
  .actions
    = form.submit
