p#notice= notice
h1 Bookings
table
  thead
    tr
      th Appoiment
      th colspan="3" 
  tbody
    - @bookings.each do |booking|
      tr
        td= booking.appoiment
        td= link_to 'Show', booking
        td= link_to 'Edit', edit_booking_path(booking)
        td= link_to 'Destroy', booking, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Booking', new_booking_path
