.container
  .row.justify-content-center
    .col-12.col-md-8.col-lg-6
      h2.display-2.text-center.my-3 Logo Glinpa
      h2.display-4.text-center.my-3 Reset Your Password
      .col-12.reset-pass-form
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .form-group
            label Email
            = f.email_field :email, autofocus: true, class: 'form-control'
          = f.submit "Send Me Reset Password Instructions", class: 'btn btn-outline-primary btn-block'
