br/
br/
p
  strong Title:
  = @preview.title
p
  strong Price:
  = @preview.price
p
  strong Description:
  = @preview.description
p
  strong Feature image:
  = @preview.feature_image
p
  strong Image gallery:
  = @preview.image_gallery
p
  strong Availability:
  = @preview.availability
p
  strong Address:
  = @preview.address
p
  strong Quantity:
  = @preview.quantity
p
  strong Currency:
  = @preview.currency
= link_to 'Back', :back
