= form_with(model: company, local: true) do |form|
  - if company.errors.any?
    #error_explanation
      h2
        = pluralize(company.errors.count, "error")
        | prohibited this company from being saved:
      ul
        - company.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :name
    = form.text_field :name, id: :company_name
  .field
    = form.label :website
    = form.text_field :website, id: :company_website
  .field
    = form.label :addres
    = form.text_area :addres, id: :company_addres
  .field
    = form.label :phone_number
    = form.text_field :phone_number, id: :company_phone_number
  .field
    = form.label :company_type
    = form.text_field :company_type, id: :company_company_type
  .field
    = form.label :fbpage
    = form.text_field :fbpage, id: :company_fbpage
  .field
    = form.label :twitter
    = form.text_field :twitter, id: :company_twitter
  .field
    = form.label :employees
    = form.text_field :employees, id: :company_employees
  .field
    = form.label :rating
    = form.number_field :rating, id: :company_rating
  .actions
    = form.submit
