p#notice= notice
h1 Companies
table
  thead
    tr
      th Name
      th Website
      th Addres
      th Phone number
      th Company type
      th Fbpage
      th Twitter
      th Employees
      th Rating
      th colspan="3" 
  tbody
    - @companies.each do |company|
      tr
        td= company.name
        td= company.website
        td= company.addres
        td= company.phone_number
        td= company.company_type
        td= company.fbpage
        td= company.twitter
        td= company.employees
        td= company.rating
        td= link_to 'Show', company
        td= link_to 'Edit', edit_company_path(company)
        td= link_to 'Destroy', company, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Company', new_company_path
