p#notice= notice
p
  strong Name:
  = @company.name
p
  strong Website:
  = @company.website
p
  strong Addres:
  = @company.addres
p
  strong Phone number:
  = @company.phone_number
p
  strong Company type:
  = @company.company_type
p
  strong Fbpage:
  = @company.fbpage
p
  strong Twitter:
  = @company.twitter
p
  strong Employees:
  = @company.employees
p
  strong Rating:
  = @company.rating
= link_to 'Edit', edit_company_path(@company)
| \
= link_to 'Back', companies_path
