.container
  .row.justify-content-center
    .col-12.col-md-8.col-lg-6
      h2.display-2.text-center.my-3 Logo Glinpa
      h2.display-4.text-center.my-3 Login
      .col-12.form-login
        = form_for(resource, class: 'form-login', as: resource_name, url: session_path(resource_name)) do |f|
          .group
            = f.email_field :email, autofocus: true, class: 'input-login'
            label.label-login Email
          .group
            = f.password_field :password, autocomplete: "off", class: 'input-login'
            label.label-login Password
          .actions
            - if devise_mapping.rememberable?
              .form-check
                = f.check_box :remember_me
                label Remember Me
            .form-group
              = f.submit "Log in", class: 'btn  btn-outline-primary btn-block'
            .row
              = render "devise/shared/links"
