= form_with(model: feedback, local: true) do |form|
  - if feedback.errors.any?
    #error_explanation
      h2
        = pluralize(feedback.errors.count, "error")
        | prohibited this feedback from being saved:
      ul
        - feedback.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :url
    = form.text_field :url, id: :feedback_url
  .field
    = form.label :comment
    = form.text_area :comment, id: :feedback_comment
  .actions
    = form.submit
