p#notice= notice
h1 Feedbacks
table
  thead
    tr
      th Url
      th Comment
      th colspan="3" 
  tbody
    - @feedbacks.each do |feedback|
      tr
        td= feedback.url
        td= feedback.comment
        td= link_to 'Show', feedback
        td= link_to 'Edit', edit_feedback_path(feedback)
        td= link_to 'Destroy', feedback, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Feedback', new_feedback_path
