body
  header.header-map
    .row.justify-content-center
      .col-12.align-self-center
        h2.text-center Map
  .container.my-3
    .row
      .col-12
        .row
          .form-group.col-12.col-md-4
            label Maker / Model
            select.form-control
              option - Any -
              option Honda
              option Toyota
              option Ferrari
          .form-group.col-12.col-md-4
            label Body Style
            select.form-control
              option - Any -
              option Convertible
              option Coupe
              option Hatchback
              option Hybrid
              option Minivan
              option Offroad
              option Pickup
              option Roadster
              option Sedan
              option SUV
              option Van
              option Wagon
          .form-group.col-12.col-md-4
            label Condition
            select.form-control
              option - Any -
              option New
              option Used
          .form-group.col-12.col-md-4
            label Prie
            .form-group.row
              .col-6
                input.form-control.px-3 placeholder=("from $") type="text" /
              .col-6
                input.form-control.px-3 placeholder=("top $") type="text" /
          .form-group.col-12.col-md-4
            label Millage
            .form-group.row
              .col-6
                input.form-control.px-3 placeholder=("KM / Miles") type="text" /
          .col-12.col-md-4.align-content-end.align-items-end.align-self-end.below-space
            button.btn.btn-primary.align-self-end name="button" type="button"  Search
    .content.gallery-container
      .tz-gallery
        .row
          .col-12.col-md-5
            div
              a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" 
                img.rounded.mx-auto.d-block alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" /
          .col-12.col-md-2
            a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" 
              img.img-thumbnail alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style=("width:140px; height:140px;") /
            a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" 
              img.img-thumbnail alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style=("width:140px; height:140px;") /
            a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" 
              img.img-thumbnail alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style=("width:140px; height:140px;") /
          .col-12.col-md-5
            .body-style
    .row
      h2 Last Ads
