body.back-listing
  .header-map.row.justify-content-center
    .col-12.align-self-center
      h2.text-center.text-white Map
  .container.my-3
    .row
      .col-12
        .row
          = image_tag('payment_methods.png', class: 'rounded mx-auto d-block')
          .form-group.col-12.col-md-4
            label Maker / Model
            select.form-control
              option - Any -
              option Honda
              option Toyota
              option Ferrari
          .form-group.col-12.col-md-4
            label Body Style
            select.form-control
              option - Any -
              option Convertible
              option Coupe
              option Hatchback
              option Hybrid
              option Minivan
              option Offroad
              option Pickup
              option Roadster
              option Sedan
              option SUV
              option Van
              option Wagon
          .form-group.col-12.col-md-4
            label Condition
            select.form-control
              option - Any -
              option New
              option Used
          .form-group.col-12.col-md-4
            label Price
            .form-group.row
              .col-6
                input.form-control.px-3 placeholder=("from $") type="text" /
              .col-6
                input.form-control.px-3 placeholder=("top $") type="text" /
          .form-group.col-12.col-md-4
            label Millage
            .form-group.row
              .col-6
                input.form-control.px-3 placeholder=("KM / Miles") type="text" /
          .col-12.col-md-4.align-content-end.align-items-end.align-self-end.below-space
            button.btn.btn-primary.align-self-end name="button" type="button"  Search
    .row
      .col-12.col-md-12.col-lg-5
        .content.gallery-container.vehicle
          .tz-gallery.p-0
            a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg"
              img.rounded.mx-auto.d-block alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" /
      .col-12.col-md-12.col-lg-2
        .content.gallery-container.vehicle
          .tz-gallery.p-0
            a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg"
              img.img-thumbnail.rounded.d-block.little-image alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style=("width:140px; height:140px;") /
            a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg"
              img.img-thumbnail.rounded.d-block.little-image alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style=("width:140px; height:140px;") /
            a.lightbox href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg"
              img.img-thumbnail.rounded.d-block.little-image alt="" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style=("width:140px; height:140px;") /
      .col-12.col-md-12.col-lg-5
        .body-style
          section
            h3.text-center.my-2 Browse by Body Styles
            .clearfix
              ul.row.special-bound-box.p-0
                li.col-xl-3.col-lg-4.col-md-2.col-3.top
                  a.hint href="#" title=""
                    = image_tag('convertible.png', class: 'rounded mx-auto d-block')
                    span.count 8
                li.col-xl-3.col-lg-4.col-md-2.col-3.top
                  a.hint href="#" title=""
                    = image_tag('coupe.png', class: 'rounded mx-auto d-block')
                    span.count 18
                li.col-xl-3.col-lg-4.col-md-2.col-3.top.empty
                  a.hint href="#" title=""
                    = image_tag('green_car_hybrid.png', class: 'rounded mx-auto d-block')
                    span.count 0
                li.col-xl-3.col-lg-4.col-md-2.col-3.top
                  a.hint href="#" title=""
                    = image_tag('hatchback.png', class: 'rounded mx-auto d-block')
                    span.count 2
                li.col-xl-3.col-lg-4.col-md-2.col-3.top.empty
                  a.hint href="#" title=""
                    = image_tag('minivan.png', class: 'rounded mx-auto d-block')
                    span.count 0
                li.col-xl-3.col-lg-4.col-md-2.col-3.top.empty
                  a.hint href="h#" title=""
                    = image_tag('offroad.png', class: 'rounded mx-auto d-block')
                    span.count 0
                li.col-xl-3.col-lg-4.col-md-2.col-3.top
                  a.hint href="#" title=""
                    = image_tag('pickup.png', class: 'rounded mx-auto d-block')
                    span.count 1
                li.col-xl-3.col-lg-4.col-md-2.col-3.top.empty
                  a.hint href="#" title=""
                    = image_tag('roadster.png', class: 'rounded mx-auto d-block')
                    span.count 0
                li.col-xl-3.col-lg-4.col-md-2.col-3.top
                  a.hint href="#" title=""
                    = image_tag('suv.png', class: 'rounded mx-auto d-block')
                    span.count 4
                li.col-xl-3.col-lg-4.col-md-2.col-3.top
                  a.hint href="#" title=""
                    = image_tag('sedan.png', class: 'rounded mx-auto d-block')
                    span.count 8
                li.col-xl-3.col-lg-4.col-md-2.col-3.top.empty
                  a.hint href="#" title=""
                    = image_tag('van.png', class: 'rounded mx-auto d-block')
                    span.count 0
                li.col-xl-3.col-lg-4.col-md-2.col-3.top.empty
                  a.hint href="#" title=""
                    = image_tag('wagon.png', class: 'rounded mx-auto d-block')
                    span.count 0
  section.last-products
    .container-fluid
      .row.py-3
        .col-12
          h2 Autos
        .col-12
          #carouselExampleIndicators.carousel.slide data-ride="carousel"
            ol.carousel-indicators
              li.active data-slide-to="0" data-target="#carouselExampleIndicators"
              li data-slide-to="1" data-target="#carouselExampleIndicators"
              li data-slide-to="2" data-target="#carouselExampleIndicators"
            .carousel-inner
              .carousel-item.active
                .col-12
                  .row
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
              .carousel-item
                .col-12
                  .row
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
              .carousel-item
                .col-12
                  .row
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
                    .col-12.col-md-6.col-lg-3
                      .card.my-2
                        img.card-img-top.rounded.mx-auto.d-block alt=("Card image cap") src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" /
                        .card-body
                          h4.card-title Card title
                          p.card-text
                            strong> US $:
                            | 10,000
            a.carousel-control-prev data-slide="prev" href="#carouselExampleIndicators" role="button"
              span.carousel-control-prev-icon aria-hidden="true"
              span.sr-only Previous
            a.carousel-control-next data-slide="next" href="#carouselExampleIndicators" role="button"
              span.carousel-control-next-icon aria-hidden="true"
              span.sr-only Next
