<body class="back-listing">
  <div class="header-map row justify-content-center">
      <div class="col-12 align-self-center">
        <h2 class="text-center text-white">Map</h2>
      </div>
    </div>
    <div class="container my-3">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <%= image_tag('payment_methods.png', class: 'rounded mx-auto d-block') %>
            <div class="form-group col-12 col-md-4">
              <label>Maker / Model</label>
              <select class="form-control">
                <option>- Any -</option>
                <option>Honda</option>
                <option>Toyota</option>
                <option>Ferrari</option>
              </select>
            </div>
            <div class="form-group col-12 col-md-4">
              <label>Body Style</label>
              <select class="form-control">
                <option>- Any -</option>
                <option>Convertible</option>
                <option>Coupe</option>
                <option>Hatchback</option>
                <option>Hybrid</option>
                <option>Minivan</option>
                <option>Offroad</option>
                <option>Pickup</option>
                <option>Roadster</option>
                <option>Sedan</option>
                <option>SUV</option>
                <option>Van</option>
                <option>Wagon</option>
              </select>
            </div>
            <div class="form-group col-12 col-md-4">
              <label>Condition</label>
              <select class="form-control">
                <option>- Any -</option>
                <option>New</option>
                <option>Used</option>
              </select>
            </div>
            <div class="form-group col-12 col-md-4">
              <label>Price</label>
              <div class="form-group row">
                <div class="col-6">
                  <input type="text" class="form-control px-3" placeholder="from $">
                </div>
                <div class="col-6">
                  <input type="text" class="form-control px-3" placeholder="top $">
                </div>
              </div>
            </div>
            <div class="form-group col-12 col-md-4">
              <label>Millage</label>
              <div class="form-group row">
                <div class="col-6">
                  <input type="text" class="form-control px-3" placeholder="KM / Miles">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 align-content-end align-items-end align-self-end below-space">
              <button type="button" name="button" class="btn btn-primary align-self-end"> Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-5">
          <div class="content gallery-container vehicle">
            <div class="tz-gallery p-0">
              <a class="lightbox" href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg">
                <img src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" class="rounded mx-auto d-block" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2">
          <div class="content gallery-container vehicle">
            <div class="tz-gallery p-0">
              <a class="lightbox" href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg">
                <img class="img-thumbnail rounded d-block little-image" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style="width:140px; height:140px;" alt="">
              </a>
              <a class="lightbox" href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg">
                <img class="img-thumbnail rounded d-block little-image" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style="width:140px; height:140px;" alt="">
              </a>
              <a class="lightbox" href="http://lorempixel.com/output/transport-q-c-400-400-3.jpg">
                <img class="img-thumbnail rounded d-block little-image" src="http://lorempixel.com/output/transport-q-c-400-400-3.jpg" style="width:140px; height:140px;" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-5">
          <div class="body-style">
            <section>
            	<h3 class="text-center my-2">Browse by Body Styles</h3>
              <div class="clearfix">
              	<ul class="row special-bound-box p-0">
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top">
                    <a title="" class="hint" href="#">
                      <%= image_tag('convertible.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">8</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top">
                    <a title="" class="hint" href="#">
                      <%= image_tag('coupe.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">18</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top empty">
                    <a title="" class="hint" href="#">
                      <%= image_tag('green_car_hybrid.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">0</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top">
                    <a title="" class="hint" href="#">
                      <%= image_tag('hatchback.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">2</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top empty">
                    <a title="" class="hint" href="#">
                      <%= image_tag('minivan.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">0</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top empty">
                    <a title="" class="hint" href="h#">
                      <%= image_tag('offroad.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">0</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top">
                    <a title="" class="hint" href="#">
                      <%= image_tag('pickup.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">1</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top empty">
                    <a title="" class="hint" href="#">
                      <%= image_tag('roadster.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">0</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top">
                    <a title="" class="hint" href="#">
                      <%= image_tag('suv.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">4</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top">
                    <a title="" class="hint" href="#">
                      <%= image_tag('sedan.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">8</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top empty">
                    <a title="" class="hint" href="#">
                      <%= image_tag('van.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">0</span>
                    </a>
                  </li>
                  <li class="col-xl-3 col-lg-4 col-md-2 col-3 top empty">
                    <a title="" class="hint" href="#">
                      <%= image_tag('wagon.png', class: 'rounded mx-auto d-block') %>
                      <span class="count">0</span>
                    </a>
                  </li>
                </ul>
            	</div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <section class="last-products">
      <div class="container-fluid">
        <div class="row py-3">
          <div class="col-12">
            <h2>Autos</h2>
          </div>
          <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-8.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-7.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-3.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-3">
                        <div class="card my-2">
                          <img class="card-img-top rounded mx-auto d-block" src="http://lorempixel.com/output/technics-q-c-200-200-5.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text"><strong>US $:</strong>10,000</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
</body>
