.container
  .row.justify-content-center
    .col-12.col-lg-9
      h1.my-3 New Vehicle
      = render 'form', vehicle: @vehicle
      /! <haml_loud> link_to &#39;Back&#39;, vehicles_path, class: &#39;btn btn-primary&#39; </haml_loud
