.container.my-3
  .row
    .col-12
      h2 Car Name
      h5 For sale by Israel D'Castro, Mar, 3 2017
  .row
    .col-12.col-md-6.col-lg-8
      .row
        .col-12
          .content.gallery-container
            .tz-gallery
              .row
                .col-12
                  a.lightbox href="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" 
                    img.rounded.mx-auto.d-block alt="Park" src="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" /
                .col-4.col-lg-3
                  a.lightbox href="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" 
                    img.img-thumbnail alt="Bridge" src="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" /
                .col-4.col-lg-3
                  a.lightbox href="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" 
                    img.img-thumbnail alt="Tunnel" src="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" /
                .col-4.col-lg-3
                  a.lightbox href="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" 
                    img.img-thumbnail alt="Coast" src="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" /
                .col-4.col-lg-3
                  a.lightbox href="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" 
                    img.img-thumbnail alt="Rails" src="http://lorempixel.com/output/sports-q-c-500-500-5.jpg" /
    .col-12.col-md-6.col-lg-4.my-3
      .product-info.separate-info
        h5
          strong Price:
          span.badge.badge-pill.badge-info.float-right= @vehicle.price
        h5
          strong Condition:
          span.badge.badge-pill.badge-info.float-right= @vehicle.condition
        h5
          strong Type:
          span.badge.badge-pill.badge-info.float-right= @vehicle.gasType
        .form-group
          h5
            strong 10,000 US$
            select
              option selected="selected"  RD$
              option EUR €
            span.float-right 480,000 RD$
      .product-info.separate-info
        h4.text-center Insterested in this Ads? contact the seller
        h6.text-center
          i.fa.fa-phone aria-hidden="true" 
          a href="#"  +1 (809) 000-0000
      .product-info.separate-info
        button.btn.btn-favorite.btn-lg
          | Favotite
          i.fa.fa-heart aria-hidden="true" 
        button.btn.btn-primary.btn-lg.float-right
          | Add To Cart
          i.fa.fa-cart-plus aria-hidden="true" 
        button.btn.btn-info.btn-lg.my-3
          | Download PDF
          i.fa.fa-file-pdf-o aria-hidden="true" 
  /!
    | <div class="row justify-content-end"
    | <div class="col-12 col-md-12 col-lg-4"
    | <button class="btn btn-favorite btn-lg">Favotite <i class="fa fa-heart" aria-hidden="true"></i></button
    | <button class="btn btn-primary btn-lg float-right">Add To Cart <i class="fa fa-cart-plus" aria-hidden="true"></i></button
    | </div
    | </div
  hr/
  .row.my-3
    .col-12.mb-3
      h2 AD details
    .col-12.col-md-6.col-lg-7
      ul#myTab.nav.nav-tabs role="tablist" 
        li.nav-item
          a#characteristic-tab.nav-link.active aria-controls="characteristic" aria-selected="true" data-toggle="tab" href="#characteristic" role="tab"  Characteristics
        li.nav-item
          a#interior-tab.nav-link aria-controls="interior" aria-selected="true" data-toggle="tab" href="#interior" role="tab"  Interior
        li.nav-item
          a#exterior-tab.nav-link aria-controls="exterior" aria-selected="false" data-toggle="tab" href="#exterior" role="tab"  Exterior
        li.nav-item
          a#technology-tab.nav-link aria-controls="technology" aria-selected="false" data-toggle="tab" href="#technology" role="tab"  Technology
        li.nav-item
          a#seller-tab.nav-link aria-controls="seller" aria-selected="false" data-toggle="tab" href="#seller-info" role="tab"  Seller Info
      #myTabContent.tab-content
        #characteristic.tab-pane.fade.show.active aria-labelledby="characteristic-tab" role="tabpanel" 
          .col-12
            .row
              .col-12
                p Aquí es donde va lo que el proveedor escribe en el additional info
        #interior.tab-pane.fade aria-labelledby="interior-tab" role="tabpanel" 
          .col-12
            .row
              .col-12.col-md-6.my-3
                h3 Aquí va la logica que te dije en la nota, para que así los iconos se ponga solos
                ul
                  li
                    p
                      | Seats Line
                      span.badge.badge-success.float-right 2
                  li
                    p
                      | Seats Material
                      span.badge.badge-success.float-right Leather
                  li
                    p
                      | Air Bag
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Sport Seats
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Electrical Chairs
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Support Front Arms
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Safety Belt
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Multifunction Guide
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Air Conditioner
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Radio AM/FM
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                /!
                  | <ul
                  | <li><p>Seats Line <span class="badge badge-success float-right"><haml_loud>@vehicle.seatsLine</haml_loud></span></li
                  | <li><p>Seats Material <span class="badge badge-success float-right"><haml_loud>@vehicle.seatsMaterial</haml_loud></span></li
                  | <li><p>Air Bag <span class="badge badge-success float-right"><i class="fa fa-check" aria-hidden="true"><haml_loud>@vehicle.airbag</haml_loud></i></span></li
                  | <li><p>Sport Seats <span class="badge badge-danger float-right"><i class="fa fa-times" aria-hidden="true"><haml_loud>@vehicle.sportSeats</haml_loud></i></span></li
                  | <li><p>Electrical Chairs <span class="badge badge-danger float-right"><i class="fa fa-times" aria-hidden="true"><haml_loud>@vehicle.electricalChairs</haml_loud></i></span></li
                  | <li><p>Support Front Arms <span class="badge badge-danger float-right"><i class="fa fa-times" aria-hidden="true"><haml_loud>@vehicle.supportFrontArms</haml_loud></i></span></li
                  | <li><p>Safety Belt <span class="badge badge-success float-right"><i class="fa fa-check" aria-hidden="true"><haml_loud>@vehicle.safetyBelt</haml_loud></li></span></li
                  | <li><p>Multifunction Guide <span class="badge badge-danger float-right"><i class="fa fa-times" aria-hidden="true"><haml_loud>@vehicle.multifunctionGuide</haml_loud></i></span></li
                  | <li><p>Air Conditioner <span class="badge badge-success float-right"><i class="fa fa-check" aria-hidden="true"><haml_loud>@vehicle.ac</haml_loud></i></span></li
                  | <li><p>Radio AM/FM <span class="badge badge-success float-right"><i class="fa fa-check" aria-hidden="true"><haml_loud>@vehicle.radio</haml_loud></i></span></li
                  | </ul
              .col-12.col-md-6.my-3
                ul
                  li
                    p
                      | DVD
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | CD Player
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | CD Box
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | USB Interface
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | MP3-Aux
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Wi-Fi Speaker
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Professional Sound
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Wi-Fi
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Bluetooth
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
        #exterior.tab-pane.fade aria-labelledby="exterior-tab" role="tabpanel" 
          .col-12
            .row
              .col-12.col-md-6.my-3
                h3 Aquí va la logica que te dije en la nota, para que así los iconos se ponga solos
                ul
                  li
                    p
                      | Trailer Compling
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Rear Spoiler
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Halogen / Xenon
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Fog Lights
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Daytime Running Lights
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Clean Rear Glasses
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Electric Mirrors
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Electric Glasses
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Electric Doors
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
              .col-12.col-md-6.my-3
                ul
                  li
                    p
                      | Electric Glasses
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Electric Doors
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | New Rubber
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Factory Rings
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Factory Paint
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Panoraminc Ceiling
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Sunroof
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
        #technology.tab-pane.fade aria-labelledby="technology-tab" role="tabpanel" 
          .col-12
            .row
              .col-12.col-md-6.my-3
                h3 Aquí va la logica que te dije en la nota, para que así los iconos se ponga solos
                ul
                  li
                    p
                      | Version
                      span.badge.badge-success.float-right Innova 2.0
                  li
                    p
                      | ABS Brakes
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Alarm
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Reverse Camera
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Rain Sensors
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Parking Sensors
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Navigation System (GPS)
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
              .col-12.col-md-6.my-3
                ul
                  li
                    p
                      | Smart Key
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Cruise Control
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | 4x4
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Turbo
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Full Power
                      span.badge.badge-success.float-right
                        i.fa.fa-check aria-hidden="true" 
                  li
                    p
                      | Sport Suspenssions
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
                  li
                    p
                      | Eco System
                      span.badge.badge-danger.float-right
                        i.fa.fa-times aria-hidden="true" 
        #seller-info.tab-pane.fade aria-labelledby="seller-tab" role="tabpanel" 
          .col-12
            .row
              .col-12.col-lg-6.my-3
                ul
                  li Location: Dominican Rep.
                  li Brand: Honda
                  ul
              .col-12.col-lg-6.my-3
                ul
                  li 1-800-000-0000
                  li Posted by Israel
                  li Save ad
                  ul
              .col-12
                h1 Aquí podría un sistema para compartir el producto
                h2.text-center Share!
                .share-medias.text-center
                  a href="" 
                    i.fa.fa-2x.fa-whatsapp aria-hidden="true" 
                  a href="" 
                    i.fa.fa-2x.fa-facebook-official aria-hidden="true" 
                  a href="" 
                    i.fa.fa-2x.fa-google-plus aria-hidden="true" 
                  a href="" 
                    i.fa.fa-2x.fa-twitter aria-hidden="true" 
                  a href="" 
                    i.fa.fa-2x.fa-instagram aria-hidden="true" 
                  a href="" 
                    i.fa.fa-2x.fa-telegram aria-hidden="true" 
    .col-12.col-md-6.col-lg-5.my-3
      .product-info
        p - Fraud Protection
        p - No Extra Fees
        p - Verified Data
        p - Friendly Return Policy
  .row
    .col-12.my-3
      h2 Testimonials
    .col-12.col-md-6
      .comment
        .media
          img.mr-3 alt=("Generic placeholder image") src="http://lorempixel.com/output/people-q-c-120-120-2.jpg" /
          .media-body
            h5.mt-0 Media heading
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    .col-12.col-md-6
      .comment
        .media
          img.mr-3 alt=("Generic placeholder image") src="http://lorempixel.com/output/people-q-c-120-120-2.jpg" /
          .media-body
            h5.mt-0 Media heading
            | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    .col-12
      .my-3.text-center
        button.btn.btn-primary type="button"  More Commetns
  .row.my-3
    .col-12.col-md-6.col-lg-4
      .form-group
        input.form-control placeholder="Name" type="email" /
      .form-group
        input.form-control placeholder="E-mail" type="email" /
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .col-12.col-md-6.col-lg-4
      .form-group
        textarea#exampleFormControlTextarea1.form-control placeholder="Comment" rows="4" 
    .col-12.col-md-6.col-lg-4.align-self-center
      button.btn.btn-outline-primary type="button"  Send
  hr/
  .row
    .col-12.my-3
      h2 Questions and Answers
    .col-12.col-md-6.questions-answers
      .media
        img.mr-3.comment-image alt=("Generic placeholder image") src="http://lorempixel.com/output/people-q-c-120-120-1.jpg" /
        .media-body
          h5.mt-0 Name who made the question
          | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          .functions-comments
            a href="#" 
              i.fa.fa-thumbs-o-up aria-hidden="true" 
            a href="#" 
              i.fa.fa-thumbs-o-down aria-hidden="true" 
            a href="#" 
              i.fa.fa-reply aria-hidden="true" 
            a href="#"  Report
          .media.mt-3
            a.pr-3 href="#" 
              img.comment-image alt=("Generic placeholder image") src="http://lorempixel.com/output/people-q-c-120-120-1.jpg" /
            .media-body
              h5.mt-0 Name who answered the question
              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      hr/
      .media
        img.mr-3.comment-image alt=("Generic placeholder image") src="http://lorempixel.com/output/people-q-c-120-120-1.jpg" /
        .media-body
          h5.mt-0 Name who made the question
          | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          .functions-comments
            a href="#" 
              i.fa.fa-thumbs-o-up aria-hidden="true" 
            a href="#" 
              i.fa.fa-thumbs-o-down aria-hidden="true" 
            a href="#" 
              i.fa.fa-reply aria-hidden="true" 
            a href="#"  Report
          .media.mt-3
            a.pr-3 href="#" 
              img.comment-image alt=("Generic placeholder image") src="http://lorempixel.com/output/people-q-c-120-120-1.jpg" /
            .media-body
              h5.mt-0 Name who answered the question
              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      .col-12
        .my-3
          button.btn.btn-primary type="button"  More Questions
    .col-12.col-md-6
      h3.text-right Make It!!
      p.text-right If have any question about this product, we or someone could be answer it.
      .form-group
        label for="exampleInputEmail1"  Name
        input.form-control placeholder="Name" type="text" /
      .form-group
        label for="exampleInputEmail1"  Email address
        input#exampleInputEmail1.form-control aria-describedby="emailHelp" placeholder="E-mail" type="email" /
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label for="exampleInputEmail1"  Question
        input.form-control placeholder="Question" type="text" /
      .col-12
        .my-3.text-right
          button.btn.btn-outline-primary type="button"  Send
      hr/
      .col-12
        h2 Related Post
        .row
          .col-12.col-md-6
            img.rounded alt="" src="http://lorempixel.com/output/transport-q-c-150-150-8.jpg" /
            h5 Name Product
            h6
              strong> Price:
              | US$ 10,000$
          .col-12.col-md-6
            img.rounded alt="" src="http://lorempixel.com/output/transport-q-c-150-150-3.jpg" /
            h5 Name Product
            h6
              strong> Price:
              | US$ 10,000$
          div style=("height:50px; width:100%;") 
          .col-12.col-md-6
            img.rounded alt="" src="http://lorempixel.com/output/transport-q-c-150-150-2.jpg" /
            h5 Name Product
            h6
              strong> Price:
              | US$ 10,000$
          .col-12.col-md-6
            img.rounded alt="" src="http://lorempixel.com/output/transport-q-c-150-150-10.jpg" /
            h5 Name Product
            h6
              strong> Price:
              | US$ 10,000$
