= form_with(model: vehicle_type, local: true) do |form|
  - if vehicle_type.errors.any?
    #error_explanation
      h2
        = pluralize(vehicle_type.errors.count, "error")
        | prohibited this vehicle_type from being saved:
      ul
        - vehicle_type.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :name
    = form.text_field :name, id: :vehicle_type_name
  .actions
    = form.submit
