p#notice= notice
h1 Vehicle Types
table
  thead
    tr
      th Name
      th colspan="3" 
  tbody
    - @vehicle_types.each do |vehicle_type|
      tr
        td= vehicle_type.name
        td= link_to 'Show', vehicle_type
        td= link_to 'Edit', edit_vehicle_type_path(vehicle_type)
        td= link_to 'Destroy', vehicle_type, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Vehicle Type', new_vehicle_type_path
