p#notice= notice
h1 Categories
table
  thead
    tr
      th Name
      th Description
      th colspan="3" 
  tbody
    - @categories.each do |category|
      tr
        td= category.name
        td= category.description
        td= link_to 'Show', category
        td= link_to 'Edit', edit_category_path(category)
        td= link_to 'Destroy', category, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Category', new_category_path
