= form_with(model: email, local: true) do |form|
  - if email.errors.any?
    #error_explanation
      h2
        = pluralize(email.errors.count, "error")
        | prohibited this email from being saved:
      ul
        - email.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :address
    = form.text_field :address, id: :email_address
  .actions
    = form.submit
