= form_with(model: location, local: true) do |form|
  - if location.errors.any?
    #error_explanation
      h2
        = pluralize(location.errors.count, "error")
        | prohibited this location from being saved:
      ul
        - location.errors.full_messages.each do |message|
          li= message
  .field
    = form.label :latitude
    = form.text_field :latitude, id: :location_latitude
  .field
    = form.label :longitude
    = form.text_field :longitude, id: :location_longitude
  .field
    = form.label :address
    = form.text_area :address, id: :location_address
  .field
    = form.label :google_addres
    = form.text_field :google_addres, id: :location_google_addres
  .field
    = form.label :location_type
    = form.text_field :location_type, id: :location_location_type
  .actions
    = form.submit
