p#notice= notice
h1 Locations
table
  thead
    tr
      th Latitude
      th Longitude
      th Address
      th Google addres
      th Location type
      th colspan="3" 
  tbody
    - @locations.each do |location|
      tr
        td= location.latitude
        td= location.longitude
        td= location.address
        td= location.google_addres
        td= location.location_type
        td= link_to 'Show', location
        td= link_to 'Edit', edit_location_path(location)
        td= link_to 'Destroy', location, method: :delete, data:   confirm: 'Are you sure?'  
br/
= link_to 'New Location', new_location_path
