p#notice= notice
p
  strong Latitude:
  = @location.latitude
p
  strong Longitude:
  = @location.longitude
p
  strong Address:
  = @location.address
p
  strong Google addres:
  = @location.google_addres
p
  strong Location type:
  = @location.location_type
= link_to 'Edit', edit_location_path(@location)
| \
= link_to 'Back', locations_path
