doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Glinpa
    meta charset="UTF-8" /
    meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" /
    = csrf_meta_tags
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    = javascript_include_tag "jquery"
    = javascript_include_tag "application"
    = javascript_include_tag "bootstrap"
    = javascript_include_tag "bootstrap.bundle"
    = javascript_include_tag "modernizr.min"
    = javascript_include_tag "jquery.smartWizard"
    = stylesheet_link_tag "smart_wizard"
    = stylesheet_link_tag "smart_wizard_theme_arrows"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "vendor.min"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "style"
    link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" /
    link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" /
    link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet" /
    link href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css" rel="stylesheet" /
  body
    /! Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-light
      .container
        = link_to "Glinpa", root_path, class:'navbar-brand js-scroll-trigger'
        /! <a class="navbar-brand js-scroll-trigger" href="#page-top">Glinpa</a
        button.navbar-toggler aria-controls="navbarNavDropdown" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNavDropdown" data-toggle="collapse" type="button"
          span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              = link_to "List Ads", ads_path, class:'nav-link js-scroll-trigger'
            - if current_user
              li.nav-item
                = link_to "Home", root_path, class:'nav-link'
              li.nav-item
                /! <a class="nav-link" href="#">Real State</a
              li.nav-item
                = link_to "Services", services_path, class: "nav-link"
              li.nav-item
                = link_to "Dashboard", dashboard_path_url, class:'nav-link js-scroll-trigger'
              li.nav-item
                = link_to "Vehicles", vehicles_path, class:'nav-link js-scroll-trigger'
              li.nav-item
                = link_to "Post Ads", new_ad_path, class:'nav-link js-scroll-trigger'
              li.nav-item
                = link_to "Log-Out", destroy_user_session_path, method: :delete, class:'nav-link js-scroll-trigger'
            - else
              li.nav-item
                = link_to "Login", new_user_session_path, class: 'nav-link js-scroll-trigger'
              li.nav-item
                = link_to "Sign Up", new_user_registration_path, class: 'nav-link js-scroll-trigger'
              li.nav-item
                a.nav-link href="#"  Post Ads
    = yield
    footer.site-footer.margin-top-2x
      .container
        .row
          .col-lg-3.col-md-6
            /! Contact Info
            section.widget.widget-light-skin
              h3.widget-title Get In Touch With Us
              p.text-white Phone: 00 33 169 7720
              ul.list-unstyled.text-sm.text-white
                li
                  span.opacity-50> Monday-Friday:
                  | 9.00 am - 8.00 pm
                li
                  span.opacity-50> Saturday:
                  | 10.00 am - 6.00 pm
              p
                a.navi-link-light href="#"  info@info.com
              a.social-button.shape-circle.sb-facebook.sb-light-skin href="#"
                i.fa.fa-facebook
              a.social-button.shape-circle.sb-twitter.sb-light-skin href="#"
                i.fa.fa-twitter
              a.social-button.shape-circle.sb-instagram.sb-light-skin href="#"
                i.fa.fa-instagram
              a.social-button.shape-circle.sb-google-plus.sb-light-skin href="#"
                i.fa.fa-google-plus
          .col-lg-3.col-md-6
            /! Mobile App Buttons
            section.widget.widget-light-skin
              h3.widget-title Our Mobile App
              a.market-button.apple-button.mb-light-skin href="#"
                span.mb-subtitle Download on the
                span.mb-title App Store
              a.market-button.google-button.mb-light-skin href="#"
                span.mb-subtitle Download on the
                span.mb-title Google Play
          .col-lg-3.col-md-6
            /! Account / Shipping Info
            section.widget.widget-links.widget-light-skin
              h3.widget-title Account &amp; Shipping Info
              ul
                li
                  a href="#"  Your Account
                li
                  a href="#"  Shipping Rates &amp; Policies
                li
                  a href="#"  Refunds &amp; Replacements
                li
                  a href="#"  Taxes
                li
                  a href="#"  Delivery Info
                li
                  a href="#"  Affiliate Program
        hr.hr-light.mt-2.margin-bottom-2x/
        .row
          .col-md-7.padding-bottom-1x
            /! Payment Methods
            .margin-bottom-1x style=("max-width: 615px;")
              = image_tag('payment_methods.png', class: 'rounded mx-auto d-block')
          .col-md-5.padding-bottom-1x
            .row
              .col-12
                .margin-top-1x.hidden-md-up
                form.subscribe-form
                  .clearfix
                    .form-group.input-light.row
                      input.form-control.col-9.mx-2 name="EMAIL" placeholder=("Your e-mail") type="email" /
                      button.btn.btn-primary.col-2 type="submit"
                        i.fa.fa-check
                  span.form-text.text-sm.text-white.opacity-50 Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.
        p.footer-copyright.text-center
          | © All rights reserved. Powered by
          a href="https://www.innova-code.com/" target="_blank"  Innovacode
    script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"
    javascript:
      | baguetteBox.run('.tz-gallery');
